<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.SOOJOOB">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--    위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--    카메라 권한-->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 카메라 사용권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!--저장소 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!--저장소 쓰기 권한-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_soojoob"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_soojoob_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOOJOOB"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}"/>
        <activity
            android:name=".RankActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SOOJOOB.BadgesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SOOJOOB.NoBadgeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SOOJOOB.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SOOJOOB.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SOOJOOB.EndActivity"
            android:exported="true">
        </activity>
        <activity android:name=".WeatherActivity"/>
        <activity android:name=".ArticleDetailActivity"/>
        <activity
            android:name=".ArticleActivity"
            android:exported="true" />
        <activity
            android:name=".ArticleInsertActivity"
            android:exported="true" />
        <activity
            android:name="com.example.SOOJOOB.UserupdateActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.SOOJOOB.PasswordActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MyArticleActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.SOOJOOB.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.SOOJOOB.MainActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="com.example.SOOJOOB.UserDeleteActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>